<html>
<head>
    <title>{{ title }}</title>
    <style>
        body {
            background-color: aqua;
        }
        h1 {
            color: blueviolet;
        }

        h2 {
            color: darkblue;
        }
    </style>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    
    <h1>Welcome to the {{ title }}</h1>
    
    <h2>Test.html</h2>
    <p>Test.html</p>
    <button id="clickButton">Click Me</button>
    
</body>
<script>
    console.log("<script>console.log('')<script>")
</script>
<script src="/static/js/script.js">console.log('Loading script.js')</script>
</html>